.mdl-spinner {
  display: none;
  position: absolute;
  margin: inherit inherit 0 0;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  z-index: 3;
}
.display {
  display: block !important;
}

.load-back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: inherit inherit 0 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.modal {
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 16px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: inherit inherit 0 0;
  transform: translate(-50%, -50%);
  z-index: 3;
}
