.mdl-spinner {
  display: none;
  position: absolute;
  margin: inherit inherit 0 0;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  z-index: 3;
}
.display {
  display: block !important;
}

.load-back {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: inherit inherit 0 0;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.modal {
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 16px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: inherit inherit 0 0;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 16px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: rgba(0, 0, 0, 0.57);
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.page-content {
  padding: 8px 16px;
}

.search-btn {
  width: calc(100% - 32px);
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  border: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 8px;
}
.search-btn:focus, .search-btn:hover {
  outline: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
